<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag("profile.jpeg", alt: "File Name Fancy")%>
	</div>

	<div id="content">
		<h1>Hey, I'm Aslan Ussayev</h1>
		<p>Going from "always be closing" to "always be coding", taking my enthusiasm and positive outlook from one industry to another. I have gone from a complete novice to an accomplished beginner and believe my passion for everything code has only began to grow.</p>
		<p>My ultimate goal is to be able to write good clean code, code that any company would push to production. Everyday, I code not just to code, but to fill the holes in my knowledge and strengthen my weaknesses. Of course the old adage, "The more you know, the more you don't know", holds true for me, but that does not intimidate me. It only motivates me to code more, to learn more, and to teach more.</p>
		<p>I am by no means an expert in anything but am always reaching for the next level of mastery. I work great in a team, a pair, or by documentation (myself). I would never hesitate to ask many questions, but would never ask the same question twice. I am easily inspired and love to inspire others.</p>
		<p>Please do not hesitate to contact me if you want to talk about any opportunities. You can reach me at <a href="www.usprof777@gmail.com">www.usprof777@gmail.com</a>.</p>
	</div>
</div>